[submodule "vim"]
	path = vim
	url = https://github.com/adjohnson916/dotvim.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "z"]
	path = z
	url = https://github.com/adjohnson916/z.git
[submodule "gnome-terminal-colors-solarized"]
	path = gnome-terminal-colors-solarized
	url = https://github.com/sigurdga/gnome-terminal-colors-solarized
