[submodule "vim"]
	path = vim
	url = https://github.com/adjohnson916/dotvim.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "z"]
	path = z
	url = https://github.com/adjohnson916/z.git
[submodule "gnome-terminal-colors-solarized"]
	path = gnome-terminal-colors-solarized
	url = https://github.com/sigurdga/gnome-terminal-colors-solarized
[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized
[submodule "git-extras"]
	path = git-extras
	url = https://github.com/visionmedia/git-extras.git
[submodule "gitconfig"]
	path = gitconfig
	url = https://github.com/adjohnson916/gitconfig.git
[submodule "vagrant.d"]
	path = vagrant.d
	url = https://github.com/adjohnson916/vagrant.d.git
[submodule "os_detect.sh"]
	path = os_detect.sh
	url = https://github.com/adjohnson916/os_detect.sh.git
[submodule "lss.sh"]
	path = lss.sh
	url = https://github.com/adjohnson916/lss.sh.git
[submodule "alias-echo.sh"]
	path = alias-echo.sh
	url = https://github.com/AndersDJohnson/alias-echo.sh.git
